@use "./General/resests" as *;
@use "./General/fonts" as *;
@use "./General/colors" as *;
@use "./components/btn" as *;
@use "./components/cards" as *;
@use "./components/footer" as *;
@use "./components/heroSection" as *;
@use "./Components/NabBar" as *;