$primaryColor: #30576CD6;
$SecondaryColor: #E1E1E1;

$CardOneBtnColor: #F61875;
$CardOneColor:#30366C;
$CardTwoColor: #C3522E;
$CardTwoBtnColor: #30576C;
$RuthBgrColor: #A3D266;
$ForthBrgColor: #F8F7F7;
$ForthBut: #4F4F4F;